@config "../../tailwind.config.js";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
}

body {
  color: #171717; /* Equivalent to text-dark-900 */
  font-family: "Inter", sans-serif; /* Equivalent to font-sans with Inter */
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif; /* Equivalent to font-sans with Inter */
}

::-webkit-scrollbar-track {
  background-color: #171717; /* or whatever matches your Tailwind color */
}

::-webkit-scrollbar-thumb {
  background-color: #ffd700; /* Use actual hex code of `bg-gold-500` */
  border-radius: 9999px; /* Equivalent to rounded-full */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fcd34d; /* Approx. of `bg-gold-400` */
}
